<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<div class="row">
  <div class="col align-self-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Input: </span>
      </div>
      <input type="text" id="input" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <button id="p1-subscribe" class="btn btn-dark" (click)="subscribeP1()"> Subscribe </button>
    <button id="p1-unsubscribe" class="btn btn-dark" (click)="unsubscribeP1()"> Unsubscribe </button>
    <p id="p1"></p>

    <button id="p2-subscribe" class="btn btn-dark" (click)="subscribeP2()"> Subscribe </button>
    <button id="p2-unsubscribe" class="btn btn-dark" (click)="unsubscribeP2()"> Unsubscribe </button>
    <p id="p2"></p>

    <button id="p3-subscribe" class="btn btn-dark" (click)="subscribeP3()"> Subscribe </button>
    <button id="p3-unsubscribe" class="btn btn-dark" (click)="unsubscribeP3()"> Unsubscribe </button>
    <p id="p3"></p>
  </div>
</div>

<router-outlet></router-outlet>
